.add-joke h1 {
    height: 100px;
    text-align: center;
}

.add-joke .question-wrap,
.add-joke .answer-wrap {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;

}

.add-joke .question-wrap input,
.add-joke .answer-wrap input {
    font-size: 1.2rem;
    height: 30px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 10px;
}

.add-joke .joke-form button {
    font-size: 1.5rem;
    width: 100px;
    height: 30px;
    background-color: var(--main-color);
    border-radius: 5px;
    color: #fff;
}

.add-joke .joke-form .cancel-btn {
    background-color: var(--sub-color);
    color: #000;
}

.add-joke .joke-form .btn-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}