:root {
    font-size: 10px;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    width: 100%;
    height: 100%;
}

* {
    font-family: 'GmarketSansMedium', sans-serif;
    margin: 0;
    padding: 0;

}

main {
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    flex-grow: 1;
}

.login-container img {
    width: 200px;
    height: 50px;
    margin-bottom: 10px;
}